
p { font-family: 'Open Sans', sans-serif; 
    word-spacing: 2px;
	color: rgb(23, 63, 63)}
a { font-weight: bold; 
	font-size: large; 
	color: rgb(211, 31, 31) ;}
a:hover {color: lightcoral;}
a:visited {color: midnightblue;}	
body {width: 90%; 
	  margin-left: auto; 
	  margin-right: auto;
	  font-family: 'Open Sans'
      background-color: #FFE1E6; 
      background: linear-gradient(108deg, rgb(255, 225, 230), rgb(54, 179, 196));
      background-image: url(images/pink_rice.png);
      background-repeat: no-repeat;
      background-position: bottom-right; 
      background-size: cover;} 
header h2 {background-color: #FFFF00 ;}
blockquote {width: 50%; 
	        margin-left: 25%; 
	        margin-right: 25%;
            font-size: 160%; 
            background-color: rgb(187, 184, 184); 
            padding-left: 30px;
            padding-top: 80px; 
            padding-bottom: 80px;
            border-left: 3px solid firebrick;}
.vill{border-left: 3px solid black;}
.farmer{border-left: 3px solid green;}
.wise { width: 50%; 
	    margin-left: 25%; 
	    margin-right: 25%;
        font-size: 160%; 
        background-color: rgb(187, 184, 184); 
        padding-left: 30px;
        padding-top: 80px; 
        padding-bottom: 80px;}
.bad {color: red;}
.good {color: green;}
.row1{background-color: grey;}
.row2{background-color: white;}
.yeah{padding-bottom:15px; 
	 padding-right: 15px;
	 padding-top: 15px; 
	 background-image: url(images/yeah.png); 	
	 background-position: 350px;
	 background-repeat: no-repeat;}
.nope{padding-bottom:15px; 
	 padding-right: 15px;
	 padding-top: 15px; 
	 background-image: url(images/nope.png); 	
	 background-position: 350px;
	 background-repeat: no-repeat;}
.cats{padding-bottom:30px; 
	 padding-right: 15px;
	 padding-top: 15px; 
	 background-image: url(images/cats.png); 	
	 background-position: 350px;
	 background-repeat: no-repeat;}
.image{float: right; 
	 margin-right: 150px;}  
.notif{background:white;
	 position: fixed;
	 left: 85%; 
	 top: 1%;
     padding:.5px 5px;
     border:3px solid red;
     width:150px;
     font-weight:bold;
     color: black;}   